.About {
  margin-left: 25%;
  margin-right: 25%;
}

.Left {
  text-align: left;
}

.React-logo {
    height: 20vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .React-logo {
      animation: React-logo-spin infinite 15s linear;
    }
  }

  @keyframes React-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }