.leftDiv {
    min-width: 200px;
    margin-right: 50%;
    text-align: right;
    padding-right: 20px;
}

.rightDiv {
    min-width: 200px;
    max-width: 500px;
    width: fit-content;
    margin-left: 50%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 8px;
    text-align: left;
    border: rgba(0, 0, 0, 0.199) 2px solid;
    border-radius: 20px;
    
}

