input[type=text] {
    margin: 4px;
    padding: 5px 10px;
    width: 450px;
    font-size: 18px;
    border: 2px solid #cacaca;
    border-radius: 4px;
    height: 36px;
    

}

textarea {
    margin: 4px;
    padding: 5px 10px;
    width: 450px;
    font-size: 18px;
    border: 2px solid #cacaca;
    border-radius: 4px;
    resize: none;
}

.writeDiv {
    margin: auto;
    width: max-content;
}
.writeTd {
    border: 0px;
}