#MenuDiv {
    margin: auto;
    width: max-content;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;   
    text-transform:uppercase;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color:rgb(44, 75, 253);
}

td {
    border: rgba(0, 0, 0, 0.26) solid 2px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}